html,body {
    background-color: lightCoral !important;
    width: 100%;
    min-height: 100vh;
    font-family: 'Comic Sans MS';
}
h1 {
    font-family: 'Monoton', cursive;
}

p {
    font-family: 'Zhi Mang Xing', cursive;
}
#mainContainer {
    background: white;
    margin-top: 50px;
}

.hidden {
    display: none;
}



/* STYLE FORMULAIRE */