html,
body {
    background: rosybrown;
    font-family: 'Comic Sans MS';
    cursor: url('../asset/witch.svg'), auto;
}

h1 {
    font-family: 'Monoton', cursive;
}

p {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 18px;
    margin: 0;
}

#mainContainer {
    background: white;
    margin-top: 50px;
    background-color: lightCoral !important;
    width: 100%;
    min-height: 100vh;
}

.hidden {
    display: none;
}

#image_suit_souris {
    position: absolute;
    display: block;
    z-index: 5;
    max-width: 30px;
}

/* NAVIGATION */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #111;
}

.nav-popup,
.nav-popup-yet {
    background: crimson;
    color: black;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
    right: 0;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.nav-popup p,
.nav-popup-yet p {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-popup .ok,
.nav-popup-yet .thanks {
    border: 1px solid black;
    padding: 5px;
    margin: 15px 0;
}

.nav-popup .ok:hover,
.nav-popup-yet .thanks:hover {
    background: black;
    color: white;
}

/* STYLE MODALE */
.popup-modal {
    background: white;
    border: 1px solid #000;
    font-size: 10px;
    text-align: center;
    max-width: 245px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.popup-modal h1 {
    font-family: 'Times New Roman', Times, serif;
}

.popup-modal img {
    margin: 10px 3px;
}

.popup-modal .button a {
    padding: 10px;
    font-size: 18px;
    line-height: 1;
    border-radius: 6px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

.popup-modal .button {
    padding: 20px;
}

.popup-modal .exit {
    display: none;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    position: absolute;
    bottom: 7rem;
    margin: 7px;
    border: 2px solid black;
    padding: 5px;
}

.popup-modal .exit p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 14px;
}

/* CHAMP UPLOAD */
.popup-upload {
    background: white;
    border: 1px solid #000;
    font-size: 10px;
    text-align: center;
    max-width: 350px;
    right: 300px;
    position: absolute;
    bottom: 0;
}

.popup-upload img {
    max-width: 100px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* STYLE FORMULAIRE */
#form {
    background: lightblue;
}


/*MODALE DE SON*/
.popup-music {
    background: green;
    border: 2px solid #000;
    max-width: 100px;
    padding: 5px;
    position: absolute;
    top: 2rem;
    right: 0;
    text-align: center;
}

.popup-music .control {
    background-color: red;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 40px;
    line-height: 0.8;
}

.popup-music .control i {
    width: 10px;
    height: 10px;
    background: white;
    display: block;
    margin: auto;
    padding: 1px 0;
}